body{
    background-color:lightgrey; 
    font-family: Segoe UI;
}

label {
    grid-column:  1;
}

input {
    grid-column: 2/ span 3;
    border-radius: 5px;
    border: 1px solid lightgray;
}
button {
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: medium;
}
button:active{
    background-color: aqua;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.campos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 15px;
}

.botones {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

#formulario {
    border-style: groove;
    padding: 50px;
    border-radius: 5px;
    background-color: white;
    height: fit-content;
}