/*Uso del combinador ','
afecta a todos los tag indicados*/
p,div {
    color: red;
}

/*Uso dom combinador ' '
 afecta a los descencientes del primer tag
 de ese tipo*/
a div {
    color:green;
}

/*Uso combinado '>'
afecta a todos los descencientes directos*/
body>p {
    color:purple;
}

/*Uso do combinador '+' 
afecta a los tag hermanos a la derecha del tipo indicado
por ejemplo si en el mismo nivel, tenemos:
div - a - p - a
afectara solo a el primer a*/

div+a {
    color: darkcyan;
}

/*Uso do combinador '~' 
afecta a los tag que estan en el mismo nivel que el primer tag indicado*/
p~div {
    color:chocolate;
}