/*Estilos para la clase texto*/
.texto {
    font-family: verdana;
    font-size: 13pt;
    text-align: right;
}
/* Estilos por id , tiene mas peso los estilos aplicados por id que los generales*/
#paragrafo1 {
    font-weight: 800;
}

#paragrafo2 {
    font-family: monospace;
}

#paragrafo3 {
    color:blueviolet;
    text-align: left;
}

/*Estilo para la clase nova, se aplicara esta cuando un elemento cuente con la clase texto 
por que esta clase esta definida mas abajo*/
.nova {
    font-family: monospace;
}
/*Estilo general para los tags tipo p*/
p {
    text-align: center;
}

/*Estilos para el cuerpo de la pagina*/
body {
    background-color: aliceblue;
}



