form {
    margin: 30px;
    width: 500px;
    padding:10px;
}

legend {
    font-family: 'lucida Sans';
    font-size: 18pt;
    font-weight: bold;
}

input {
    border-radius: 8px;
    font-family: 'Lucida Sans';
    font-size: 11pt;
}

label {
    font-family: 'Lucida Sans';
    font-size: 11pt;
}

.senEtiqueta {
    width: 440px;
    margin: 10px;
}

.relativos {
    position:relative;
    top:10px;
    left:10px;
    width: 440px;
}

.radios {
    position: relative;
    width: 15px;
    margin-right: 1px;
}

.lradios {
    position: relative;
    width: 440px;
    background-color: aqua;
}

#otros {
    height: fit-content;
}

#lcontrasena {
    width: 100px;
    margin-right: 5px;
}

#contrasena {
    margin-right: 10px;
    width: 345px;
    margin-bottom: 10px;
}








